{% extends 'blog/home.html' %} {% block title %}
<title>Update post</title>
{% endblock %} {% block script %}
<!-- Cambio para poder editar el post -->
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/script.js') }}"
></script>
{% endblock %} {% block content %}
<div>
  <h3>Update post</h3>
</div>

<form enctype="multipart/form-data" method="POST">
  {{ macro.label_input('Title:', 'title', required='', value=post.title) }} {{
  macro.label_input('Description:', 'text', type='textarea', required='',
  value=post.text) }} {{ macro.label_input('Image:', 'img', type='file',
  id='file') }} {{ macro.label_input('Public:', 'access', type='checkbox',
  checked=post.access) }} {{ macro.label_input('', 'submit', value='Update',
  type='submit') }}
</form>
{% endblock %}
